{% extends 'base.html.twig' %}

{% block title %}New CleanSupply{% endblock %}

{% block body %}
    <h1>Create new CleanSupply</h1>

    {{ include('clean_supply/_form.html.twig') }}

    <a href="{{ path('app_clean_supply_index') }}">back to list</a>
{% endblock %}
