{% extends 'base.html.twig' %}
{% block title %}New Linen{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>New Linen</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_linen_index') }}" class="btn btn-secondary btn-sm">Back To List</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                {{ include('linen/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
