{% extends 'base.html.twig' %}
{% block title %}New Supply{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>New Supply</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_supply_index') }}" class="btn btn-secondary btn-sm">Back To List</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                {{ include('supply/_form.html.twig', {'button_label': 'Save'}) }}
            </div>
        </div>
    </div>
{% endblock %}
