{% extends 'base.html.twig' %}

{% block title %}Edit PropertyPhoto{% endblock %}

{% block body %}
    <h1>Edit PropertyPhoto</h1>

    {{ include('property_photo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_property_photo_index') }}">back to list</a>

    {{ include('property_photo/_delete_form.html.twig') }}
{% endblock %}
