{% extends 'base.html.twig' %}

{% block title %}New PropertyPhoto{% endblock %}

{% block body %}
    <h1>Create new PropertyPhoto</h1>

    {{ include('property_photo/_form.html.twig') }}

    <a href="{{ path('app_property_photo_index') }}">back to list</a>
{% endblock %}
