{% extends 'base.html.twig' %}
{% block title %}New User{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-6">
                <h4>New User</h4>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_user_index') }}" class="btn btn-secondary btn-sm">Back To List</a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
